In [3]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [4]:
df = pd.read_csv("")

In [5]:
df.sample(5)

     age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
242   64    1   0       145   212    0  ...      0      2.0      1   2     1       0
134   41    0   1       126   306    0  ...      0      0.0      2   0     2       1
55    52    1   1       134   201    0  ...      0      0.8      2   1     2       1
22    42    1   0       140   226    0  ...      0      0.0      2   0     2       1
57    45    1   0       115   260    0  ...      0      0.0      2   0     2       1

[5 rows x 14 columns]